# *******************************************************************************
# Copyright (c) 2025 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

# Link to S-CORE Bazel Registry
common --registry=https://raw.githubusercontent.com/eclipse-score/bazel_registry/main/
common --registry=https://bcr.bazel.build

# Shared configuration for simple test execution
build:shared --incompatible_strict_action_env
build:shared --sandbox_writable_path=/var/tmp
build:shared --host_platform=@score_bazel_platforms//:x86_64-linux

# -------------------------------------------------------------------------------
# Config dedicated to host platform CPU:x86_64 and OS:Linux
# -------------------------------------------------------------------------------
build:x86_64-linux --config=shared
build:x86_64-linux --platforms=@score_bazel_platforms//:x86_64-linux

# -------------------------------------------------------------------------------
# Different toolchain configuration for x86_64-linux
# -------------------------------------------------------------------------------
build:host_config_1 --config=x86_64-linux
build:host_config_1 --extra_toolchains=@score_gcc_toolchain//:x86_64-linux-gcc-12.2.0
build:host_config_1 --features=use_pthread

# -------------------------------------------------------------------------------
# Different toolchain configuration for x86_64-linux
# -------------------------------------------------------------------------------
build:host_config_2 --config=x86_64-linux
build:host_config_2 --extra_toolchains=@my_toolchain//:x86_64-linux-gcc-12.2.0

# -------------------------------------------------------------------------------
# Config dedicated to target platform CPU:x86_64 and OS:QNX
# -------------------------------------------------------------------------------
build:x86_64-qnx --config=shared
build:x86_64-qnx --platforms=@score_bazel_platforms//:x86_64-qnx

# -------------------------------------------------------------------------------
# Different toolchain configuration for x86_64-qnx
# -------------------------------------------------------------------------------
build:target_config_1 --config=x86_64-qnx
build:target_config_1 --extra_toolchains=@score_qcc_toolchain//:x86_64-qnx-qcc-12.2.0

# -------------------------------------------------------------------------------
# Config dedicated to target platform CPU:arm64 and OS:QNX
# -------------------------------------------------------------------------------
build:arm64-qnx --config=shared
build:arm64-qnx --platforms=@score_bazel_platforms//:arm64-qnx

# -------------------------------------------------------------------------------
# Different toolchain configuration for arm64-qnx
# -------------------------------------------------------------------------------
build:target_2_config_1 --config=arm64-qnx
build:target_2_config_1 --extra_toolchains=@score_qcc_arm64_toolchain//:arm64-qnx-qcc-12.2.0
