# *******************************************************************************
# Copyright (c) 2025 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

# Link to S-CORE Bazel Registry
common --registry=https://raw.githubusercontent.com/eclipse-score/bazel_registry/main/
common --registry=https://bcr.bazel.build

# Shared configuration for simple test execution
build:shared --incompatible_strict_action_env
build:shared --sandbox_writable_path=/var/tmp

# -------------------------------------------------------------------------------
# Different toolchain configuration for x86_64-linux (host)
# -------------------------------------------------------------------------------
build:host_config_1 --config=shared
build:host_config_1 --host_platform=@score_bazel_platforms//:x86_64-linux-gcc_12.2.0-posix
build:host_config_1 --extra_toolchains=@score_gcc_toolchain//:x86_64-linux-gcc_12.2.0
build:host_config_1 --host_features=use_pthread

# -------------------------------------------------------------------------------
# Different toolchain configuration for x86_64-linux (host)
# -------------------------------------------------------------------------------
build:host_config_2 --config=shared
build:host_config_2 --host_platform=@score_bazel_platforms//:x86_64-linux-gcc_12.2.0-posix
build:host_config_2 --extra_toolchains=@my_toolchain//:x86_64-linux-gcc_12.2.0

# -------------------------------------------------------------------------------
# Different toolchain configuration for x86_64-linux (host)
# -------------------------------------------------------------------------------
build:host_config_3 --config=shared
build:host_config_3 --host_platform=@score_bazel_platforms//:x86_64-linux
build:host_config_3 --extra_toolchains=@score_gcc_toolchain_bp//:x86_64-linux

# -------------------------------------------------------------------------------
# Toolchain configuration for x86_64-qnx (target)
# -------------------------------------------------------------------------------
build:target_config_1 --config=host_config_1
build:target_config_1 --platforms=@score_bazel_platforms//:x86_64-qnx-sdp_8.0.0-posix
build:target_config_1 --extra_toolchains=@score_qcc_toolchain//:x86_64-qnx-sdp_8.0.0

# -------------------------------------------------------------------------------
# Toolchain configuration for aarch64-qnx (target)
# -------------------------------------------------------------------------------
build:target_config_2 --config=host_config_1
build:target_config_2 --platforms=@score_bazel_platforms//:aarch64-qnx-sdp_8.0.0-posix
build:target_config_2 --extra_toolchains=@score_qcc_arm_toolchain//:aarch64-qnx-sdp_8.0.0

# -------------------------------------------------------------------------------
# Toolchain configuration for aarch64-linux (target)
# -------------------------------------------------------------------------------
build:target_config_3 --config=host_config_1
build:target_config_3 --platforms=@score_bazel_platforms//:aarch64-linux-gcc_12.2.0-posix
build:target_config_3 --extra_toolchains=@score_aarch64_gcc_toolchain//:aarch64-linux-gcc_12.2.0

# -------------------------------------------------------------------------------
# Toolchain configuration for x86_64-linux-autosd10 (target)
# -------------------------------------------------------------------------------
build:target_config_4 --config=host_config_1
build:target_config_4 --platforms=@score_bazel_platforms//:x86_64-linux-autosd10
build:target_config_4 --extra_toolchains=@score_autosd_10_toolchain//:x86_64-linux-autosd10
